<table align="center" cellspacing="0" border="0" cellpadding="0" width="700" bgcolor="#FFFFFF" style="width:700px;background-color:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd">
        <tbody>
        <tr>
        <td style="padding:3px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;background-color:#000;color:#fff;">
        <a href="http://localhost/patsada.com/" target="_blank" style="text-decoration:none;">
        <img src="http://localhost/patsada.com/assets/img/patsada_logo.PNG" style="height:30px;width:150px;padding-top:3px;margin-left:20px;" alt="PATSADA.com"><br>
        <span style="color:#fff;margin-left: 21px;font-size:12px;">Jobs, Right at Your Finger Tips</span>
        </a>

        </td>
        </tr>
        <tr>
            <td style="padding-top:34px;padding-left:39px;padding-right:39px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd">
                <h2 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:30px;color:#262626;font-weight:normal;margin-top:0;margin-bottom:13px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;letter-spacing:0">
                Hi thesistest!
                </h2>

                <h3 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px">
                Thanks for signing up to PATSADA.com. Please remember your own authentication code and company code. This will serve as your code as subject to your email for job posting! Thank you!
                </h3>
                <b> Authentication Code: </b>25JW77ZgNk<br/>
                <b> Company Code: </b>ehs8SQLK2<br/>
                <br><br>
                <h3 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px">
                    You can also use our e-mailing feature wherein you can post, edit, and delete your job postings via e-mail. 
                    <br><br>
                     <b>Please make sure that you follow the correct subject and body template for your emails so that it can be read properly thru our system.</b>
                     <br>
                     Here are the instructions:
                 

                    <br><br>
                    <b>Job Posting:</b><br>
                    Email to: postjob@patsada.com<br>
                    Subject: (authentication code), (company code)<br>
                    Body:<br>
                    Post Type: (Choose between Urgent or Non-Urgent)br>
                    Job Type: (Either Full-Time or Part-Time)<br>
                    Position: (Name of Position currently hiring)<br>
                    Description: (Brief description of the job hiring)<br>
                    Years of Experience: (Must be numeric)<br>
                    Category: (Categories are shown below)<br>
                    Location: (Location of job hiring)<br>
                    Salary Type: R, N, T, or A<br>
                    Salary From: (Minimum salary offer. Must be numeric with no special characters)<br>
                    Salary To: (Maximum salary offer. Must be numeric with no special characters)<br>
                    <br>
                    <b>Example:</b>
                    Post Type: Urgent<br>
                    Job Type: Part-Time<br>
                    Position: Back-end Developer<br>
                    Description: Must have knowledge in PHP and Python programming language.<br>
                    Years of Experience: 2<br>
                    Category: Software<br>
                    Location: Manila<br>
                    Salary Type: N<br>
                    Salary From: 20000<br>
                    Salary To: 25000<br>
                    <br><br>

                    <b>Job Deletion</b><br>
                    Email to: deletejob@patsada.com<br>
                    Subject: (authentication code), (company code)<br>
                    Body:<br>
                    Delete Job Number: (Job Number of Job Post)<br>
                    <br><br>

                    <b>Job Edit:</b><br>
                    Email to: editjob@patsada.com<br>
                    Subject: (authentication code), (company code)<br>
                    Body:<br>
                    Edit Job Number: (Job Number of Job Post)<br>
                    Post Type: (Urgent or Non-Urgent)<br>
                    Job Type: (Part-Time or Full Time)<br>
                    Category: (Categories are given below)<br>
                    Position: (Name of Position currently hiring)<br>
                    Location: (Location of job hiring)<br>
                    Years of Experience: (Must be numeric)<br>
                    Description: (Brief description of the job hiring)<br>
                    Salary Type: (R, N, T, A)<br>
                    Salary From: (Minimum salary offer. Must be numeric with no special characters)<br>
                    Salary To: (Maximum salary offer. Must be numeric with no special characters)<br><br>

                    <b>Note: It is not necessary that you must fill-out all the fields. Only the one that needs to be edited as long as there is the job post number stated</b><br>
                    <br>
                    <b>Example:</b><br>
                    Job Post Number: 12<br>
                    Position: IT Developer<br>

                    <br><br>

                    <b>Get Applicants Information:</b><br>
                    Email to: getapplicants@patsada.com<br>
                    Subject: (authentication code), (company code)<br>
                    Body:<br>
                    Get Applicants Job Number: (Job Number of Job Post)<br>
                    <br><br>


                    <b>CATEGORIES:</b>
                    <br>
                    <b>1.Accounting/Finance</b><br>
                        2. General/Cost Acct<br>
                        3. Banking/Financial<br>
                        4. Audit/Taxation<br>
                        5. Finance/Investment<br>
                    <b>6. Admin/HR</b><br>
                        7. Clerical/Administrative<br>
                        8. Human Resources<br>
                        9. Secretarial<br>
                        10. Top Management<br>
                    <b>11. Computer/IT</b><br>
                        12. Software<br>
                        13. Hardware<br>
                        14. Secretarial<br>
                    <b>15. Engineering</b><br>
                        16. Mechanical/Automotive<br>
                        17. Other Eng<br>
                        18. Electrical Eng<br>
                        19. Environmental<br>
                        20. Oil/Gas Eng<br>
                        21. Industrial Eng<br>
                        22. Chemical Eng<br>
                    <b>23. Sales/Marketing</b><br>
                        24. Sales - Financial Services<br>
                        25. Marketing<br>
                        26. Retail Sales<br>
                        27. Telesales/Telemarketing<br>
                        28. Sales - Corporate<br>
                        29. Sales - Eng/Tech/IT<br>
                        30. Merchandising<br>
                    <b>31. Manufacturing</b><br>
                        32. Manufacturing<br>
                        33. Maintenance<br>
                        34. Quality Assurance<br>
                        35. Purchasing<br>
                        36. Process Design & Control<br>
                    <b>37. Arts/Media/Comm</b><br>
                        38. Arts/Creative Design<br>
                        39. Advertising<br>
                        40. Public Relations<br>
                        41. Entertainment<br>
                    <b>42. Building/Construction</b><br>
                        43. Civil Eng/Construction<br>
                        44. Architect/Interior<br>
                        45. Property/Real Estate<br>
                        46. Quantity Survey<br>
                    <b>47. Service</b><br>
                        48. Customer Service<br>
                        49. Tech & Helpdesk Support<br>
                        50. Personal Care<br>
                        51. Logistics/Supply Chain<br>
                        52. Security/Armed Forces<br>
                        53. Law/Legal Services<br>
                        54. Social Services<br>
                    <b>55. Hotel/Restaurant</b><br>
                        56. F & B<br>
                        57. Hotel/Tourism<br>
                    <b>58. Sciences</b><br>
                        59. Food Tech/Nutritionist<br>
                        60. Agriculture & Dev.<br>
                        61. Chemistry<br>
                        62. Aviation<br>
                        63. Actuarial/Statistics<br>
                        64. Science & Tech<br>
                        65. Geology<br>
                        66. Biotechnology<br>
                    <b>67. Healthcare</b><br>
                        68. Nurse/Medical Support<br>
                        69. Doctor/Diagnosis<br>
                        70. Pharmacy<br>
                    <b>71. Others</b><br>
                        72. General Work<br>
                        73 Others<br>
                        74. Journalist/Editors<br>
                        75. Publishing<br> 
                    </h3>
            </td>
        </tr> 
        <tr>
            <td style="color:#797c80;font-size:12px;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;padding-top:23px;padding-left:39px;padding-right:13px;padding-bottom:23px;text-align:left">
                <h3 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px">
                About PATSADA.com
                </h3>
                <p style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:13px;padding-right:0;padding-left:0;line-height:20px">
                The word PaTsada is a local word from Cagayan de Oro City.<br>
                        Hence <b>PaTsada.com</b> is an online Job Search Site for kagay-anons. <br>
                        We keep it simple and easy to used and provide a best expirience in Job Hunting and Recruiting.<br>
                        <b>PATSADA.com</b>... Jobs, Right at Your Fingertips

                </p>

            </td>
        </tr>


        <tr>
    </tr>
    <tr>
        <td style="padding:3px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;background-color:#000;color:#fff;text-align: right;font-size: 10px;">
            &copy; Copyright 2013. PATSADA.com. All rights reserved. NHA, Kauswagan, Cagayan de Oro City, Philippines, 9000 Tel. (088) 323-4359
        </td>
        </tr>
    </tbody>
    </table>