/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url('font-awesome.css');

h1, h2, h3, h4, h5, h6{
    font-family: 'Monda', sans-serif;
    font-weight:700;
}

h1{
    font-size:67px;
    line-height:74px;
}

h2{
    font-size:52px;
    line-height:62px;
}

h3{
    font-size:36px;
    line-height:42px;
}

h4{
    font-size:24px;
    line-height:32px;
}

h5{
    font-size:18px;
    line-height:24px;
}

h6{
    font-size:14px;
    line-height:22px;
}
iframe, object, embed {
    max-width: 100%;
}
/* ==============================================================



================================================================= */

/*
Color
================================================== */

a, a:hover, .btn-link, .btn-link:hover, .color, header .navbar-nav li a:hover, .img-title h6 a:hover, .social-wrapper .social-icon:hover, ul.featured-list li i, .meta-post li a:hover, .media-heading h5 a:hover{
    /*color:#8ecc08;*/
}

/*
Border color
================================================== */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.postdate span, .testimo-avatar:hover, .form-control:focus, #focusedInput{
    border-color: #8ecc08!important;
}

header .navbar-nav > .dropdown > a:hover .caret{
    border-top-color: #1bbc9b;
    border-bottom-color: #1bbc9b;
}


body {
    padding:0!important;
    padding-bottom: 40px;
    color: #5a5a5a;

    margin:0;
    font-family: "Droid Sans", sans-serif!important;
    font-size:14px;
    font-weight:400;
    line-height:22px;
    background: #f5f5f5 url(../img/cross-pattern.png) repeat top center;
}

.green-text{
    color:#8ecc08;
}
.green-background{
    background-color:#8ecc08;
}
.yellow-text{
    color:#f3c62b;
}

.yellow-background{
    background-color:#f3c62b;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: relative;
    z-index: 15;
}


.navbar {
    border-radius: 0!important;
    border:none!important;

    background: rgba(0,0,0,0.4)!important;
}
. navbar-none {
    background:none;
}


.post_ajobs {

    background:none;
}

.navbar > .container{
    max-width: 100%!important;
    /*border-top:2px solid #fcc000 !important;*/

}
.navbar.transparent.navbar-inverse .navbar-inner {
    background:#282828!important;
}


.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px!important;
    color: #fff !important;
    left: -10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.navbar-nav > li > a:hover{
    text-decoration: none;
    padding-bottom: 0!important;
    border-radius:0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #f3c62b;
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-nav .active > a,
.navbar-nav .active > a:hover,
.navbar-nav .active > a:focus {
    text-decoration: none;
    padding-bottom: 0!important;
    border-radius:0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8ecc08;
    color: #fff !important;
    background-color: transparent !important;

}

.navbar-brand-span{
    color: #fff;
    float: left;

    font-size: 13px;
    line-height: 58px;
    padding: 6px;
}


.dropdown-toggle{
    background:none!important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    padding-bottom: 0!important;
    border-radius:0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8ecc08;
    color: #000 !important;
    background-color: transparent !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    text-decoration: none;
    padding-bottom: 0!important;
    border-radius:0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8ecc08;
    color: #000 !important;
    background-color: transparent !important;
}
.side_cat > li > a {
display: block;
    padding: 0 5px!important;
    position: relative;
    top:-15px!important;
    color: rgba(7, 7, 7, 0.58) !important;
    text-transform: uppercase;

}
.side_cat_b > li > a {
display: block;
    padding: 0 5px!important;
    position: relative;
    top:-15px!important;
    color: rgba(255, 255, 255, 0.57) !important;
    text-transform: uppercase;

}
.responsive_sidebar > li > a {
    color: rgba(255, 255, 255, 0.57) !important;
    display: block;
    padding: 0.85714em 2.14286em!important;
    position: relative;
    text-transform: uppercase;
    top: 10px !important;
}
.responsive_sidebar li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.responsive_sidebar li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.responsive_sidebar li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
}

.side_cat > li > ul {
    padding: 0 5px!important;
    left:40px!important;
    position: relative;
    top:-15px!important;

}
.side_cat > li > ul > li{
    text-decoration: none!important;
    color:rgba(7, 7, 7, 0.58)!important;
   text-transform: uppercase;
}
.side_cat_b > li > ul > li{
    text-decoration: none!important;
    color: rgba(255, 255, 255, 0.57) !important;
   text-transform: uppercase;
}
.responsive_sidebar {
    background: none repeat scroll 0 0 #333333;

}
.responsive_sidebar > li > ul > li{
    text-decoration: none!important;
    color: rgba(255, 255, 255, 0.57) !important;
   text-transform: uppercase;
}
.side_cat > li > ul > li > a {

    color:rgba(7, 7, 7, 0.58)!important;
}
.side_cat_b > li > ul > li > a {

    color: rgba(255, 255, 255, 0.57) !important;
}
.responsive_sidebar > li > ul > li > a {

    color: rgba(255, 255, 255, 0.57) !important;
}
.responsive_sidebar > li > ul > li > a {

    color: rgba(255, 255, 255, 0.57) !important;
}
.side_cat > li > ul > li >a:hover {
    text-decoration: none;
    color: #8ecc08!important;
    background-color: transparent!important;
}
.side_cat_b > li > ul > li >a:hover {
    text-decoration: none;
    color: #000000!important;
    background-color: transparent!important;
}
.responsive_sidebar > li > ul > li >a:hover {
    text-decoration: none;
    color: #000000!important;
    background-color: transparent!important;
}

.side_cat > li > a:hover,
.side_cat > li > a:focus {
    text-decoration: none;
    color: #8ecc08!important;
    font-weight: bold;
    background-color: transparent!important;
}

.side_cat_b > li > a:hover,
.side_cat_b > li > a:focus {
    text-decoration: none;
    color: #8ecc08!important;
    font-weight: bold;
    background-color: transparent!important;
}
.responsive_sidebar > li > a:hover,
.responsive_sidebar > li > a:focus {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.1)!important;

}

.responsive_sidebar > li.active > a,
.responsive_sidebar > li.active > a:hover,
.responsive_sidebar > li.active > a:focus {
    color: #ffffff!important;
    background-color: rgba(44, 44, 44, 0.76) !important;
}
.sidebar{
    background: #ffffff!important;
    border-top-left-radius:3px!important;
    border-bottom-left-radius:3px!important;
    border-top-right-radius:3px!important;
    border-bottom-right-radius:3px!important;

}

.carousel{
    height: 400px!important;
    padding-bottom: 0px!important;
}
.carousel-inner{
    height: 400px!important;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.carousel-caption{
    height: 100px!important;
    top: 117px!important;
}
.carousel-button{
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 13;
    width: 242px;
    padding-left: 0;
    text-align: center;
    list-style: none;
    border-top-left-radius:50px !important;

}
.carousel-button > a{

    border:none!important;
    font-weight: bold!important;
    color:darkred;
    border-top-left-radius:50px !important;

}
.carousel-button > a:hover{
 background: none!important;
    color:#7c9a2a;
    border-top-left-radius:50px !important;

}


.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 66%!important;
    left: 50%;
    z-index: 5;
    display: inline-block;
}
.main-color {
    color:#7c9a2a!important;
}

.carousel-control.left {
    background-image: none!important;
    background-repeat: repeat-x;
    left: 0px !important;
    width:30px!important;
}
.carousel-control.right {
    background-image: none!important;
    background-repeat: repeat-x;
    left: auto;
    right: 0px !important;
    width:30px!important;
}
/* Fade transition for carousel items */
.carousel .item { display: none; position: relative; -webkit-transition:.7s ease-in-out opacity; -moz-transition: .7s ease-in-out opacity; -ms-transition: .7s ease-in-out opacity; -o-transition: .7s ease-in-out opacity; transition: .7s ease-in-out opacity; left: 0 !important; transition: 0.6s ease-in-out left;  }
.carousel-inner > .active {
    display: block;
    left: 0 !important;
    position: relative;
    transition: left 0.6s ease-out-in 0s;
}
.carousel .next.left, .carousel .prev.right { opacity: 1; z-index: 1; }

.carousel .active.left { opacity: 0; z-index: 2; }

.carousel .active.right { opacity: 0; z-index: 2; }

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
a:focus{
	outline: none !important;
}


.container {

    max-width:100% !important;
    padding-left:0!important;
    padding-right:0!important;
}
.row {
    margin-right: 0!important;
    margin-left: 0!important;

}
.rownav {
    margin-right: -15px;
    margin-left: -15px;
}
.container-nav {


margin-right: -15px;
    margin-left: -15px;
}

.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 102px!important;
}
.dl-horizontal dd {
    margin-left: 109px!important;
}
dt, dd {
    line-height: 1.529!important;
}
/* Pad the edges of the mobile views a bit */
.main_containt {
    margin-top: -30px !important;
    padding-left: 15px;
    padding-right: 15px;

}
/* Center align the text within the three columns below the carousel */
.main_containt .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.main_containt h2 {
    font-weight: normal;
}
.main_containt .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

/*
table
=========================
*/
.premium td{


    border-bottom: 2px solid #f3c62b!important;
    background-color: rgba(255, 207, 48, 0.24) !important;
}
.table-hover > tbody > tr.premium:hover > td,
.table-hover > tbody > tr:hover > th {

    background-color: rgba(243, 198, 37, 0.29) !important;
    border-bottom: 2px solid  rgba(255, 207, 48, 0.24)!important;
}
table th{
    font-size: 13px!important;
    color:#888888!important;
}
table td{
    font-size: 14px!important;
    color:rgba(7, 7, 7, 0.58)!important;
    padding-bottom:2px;

}

#login   .modal-header {
      min-height: 16.428571429px;
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      background:#f3c62b!important;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background:#f3c62b!important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#login .modal-title {
    margin: 0;
    line-height: 1.428571429;
    color:#fff!important;
}


#login > .modal-dialog {
    right: auto;
    left: 50%;

    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#login > .modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: medium none;
    position: relative;
    width: 400px !important;

}
#login >.modal-body{
    padding:2px!important;
}


@media screen and (min-width: 768px) {
    #login > .modal-dialog {
        right: auto;
        left: 50%;
        width: 400px!important;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
#register   .modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background:#f3c62b!important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#register .modal-title {
    margin: 0;
    line-height: 1.428571429;
    color:#fff!important;
}

#register > .modal-dialog {
    right: auto;
    left: 50%;

    width: 400px!important;
    padding-top: 30px;
    padding-bottom: 30px;
}
#register > .modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: medium none;
    position: relative;
    width: 400px !important;

}
#register >.modal-body{
    padding:2px!important;
}
/*
Button
=========================== */
.btn{
    outline: none!important;
}

.btn-blue{
    color: #ffffff;
    background-color: #51b8ed!important;
    border:none!important;
    border-bottom:3px solid #3ea6dc!important;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    color: #ffffff;
    background-color: #3ea6dc;
    border:none;
    border-bottom:3px solid #3298cd;
}

.btn-red{
    color: #ffffff;
    background-color: #ed5153;
    border:none;
    border-bottom:3px solid #e14043;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    color: #ffffff;
    background-color: #e14043;
    border-bottom:3px solid #c83033;
}

.btn-dark{
    color: #ffffff;
    background-color: #536270;
    border:none;
    border-bottom:3px solid #41505f;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
    color: #ffffff;
    background-color: #41505f;
    border:none;
    border-bottom:3px solid #354351;
}

.btn-green{
    color: #ffffff;
    background-color: #1bbc9b;
    border:none;
    border-bottom:3px solid #0daa8a;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
    color: #ffffff;
    background-color: #0daa8a;
    border-bottom:3px solid #079779;
}

.btn-yellow{
    color: #ffffff;
    background-color: #decb27;
    border:none;
    border-bottom:3px solid #cdba1b;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
    color: #ffffff;
    background-color: #cdba1b;
    border-bottom:3px solid #bcaa10;
}

.btn-purple{
    color: #ffffff;
    background-color: #894ea4;
    border:none;
    border-bottom:3px solid #7a4094;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    color: #ffffff;
    background-color: #7a4094;
    border-bottom:3px solid #6a3483;
}

.btn-pink{
    color: #ffffff;
    background-color: #d95b82;
    border:none;
    border-bottom:3px solid #c74970;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
    color: #ffffff;
    background-color: #c74970;
    border-bottom:3px solid #b93e64;
}

.btn-orange{
    color: #ffffff;
    background-color: #e38f35;
    border:none;
    border-bottom:3px solid #d4822a;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
    color: #ffffff;
    background-color: #d4822a;
    border-bottom:3px solid #c57621;
}
#intro, #page-head, .form-wrapper legend span, header .navbar-nav li.active a, #featured .heading span, ul.featured-list li span, #team,
.heading span.left, .heading span.right, .gray-bg .heading span.left, .gray-bg .heading span.right, .accordion-body.in span, .accordion-heading span,
#filter-bar ul#filters li a.selected, #filter-bar ul#filters li a:hover, .zoom, #bottom, #toTop, .pricing-table li ul li.plan_name , .pricing-table li ul li.plan_price,
.pricing-table li.featured ul li.plan_price, .contact-box, {
    background-color: #8ecc08;
}
.heading span.left{
    background-color: #8ecc08!important;
}
/*img*/
.img-thumbnail{
    width: 45%!important;
    margin-bottom: 5px!important;
}
/*
Heading
=========================== */
.heading{
    position:relative;
    background:url(../img/heading-bg.jpg) repeat-x left bottom;
    margin:0 0 30px 0;
    padding:0 0 20px 0;
}

.heading span.left{
    position: absolute;
    padding:0;
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
}

.heading span.right{
    position: absolute;
    width: 60px;
    padding:0;
    height: 3px;
    bottom: 0;
    right: 0;
}

.heading.centered{
    background:url(../img/heading-bg.jpg) repeat-x 0 25px;
    text-align:center;
    padding:0;
}

.gray-bg  .heading.centered{
    background:url(../img/heading-bg-gray.jpg) repeat-x 0 25px;
    text-align:center;
    padding:0;
}

.heading.centered span{
    padding:0 20px 0 20px;
    background:#fafafa;
}

.gray-bg .heading.centered span{
    padding:0 20px 0 20px;
    background:#e9ecf5;
}

.heading.centered span.left, .gray-bg .heading.centered span.left{
    top: 23px;
}

.heading.centered span.right, .gray-bg .heading.centered span.right{
    top: 23px;
}

.heading.onright{
    text-align:right;
}

.gray-bg  .heading{
    background:url(../img/heading-bg-gray.jpg) repeat-x left bottom;
}


/*
Tabs
=========================== */
.tabber {
    border-radius:5px !important;

}
.nav.nav-tabs.tabber li a{
    border:1px solid #dfdfdf;
    border-top-right-radius:5px !important;
    border-top-left-radius:5px !important;
    border-bottom:0;
	padding-right: 30px!important;
    outline:0;
    color:#545454;
}
.nav.nav-tabs.tabber li a:hover {

    background-color: #fff!important;
}
.nav.nav-tabs.tabber li.active a{

    border-top-right-radius:5px !important;
    border-top-left-radius:5px !important;
    border-bottom:0;
    outline:0;
	font-weight: bold;
    color:#000;
}

.tab-content{
    border:1px solid #dfdfdf;
    margin-top:-1px;
    padding:20px 5px;
    background: #fff;
    border-top-left-radius: 0!important;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color:rgba(7, 7, 7, 0.58)!important;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}

.social{
    margin-top: -92px !important;
    position: absolute;
    padding-left:10px;
}
.social i{
    width:30px !important;
    height:30px!important;
    font-size:16px!important;
    line-height:30px!important;
    background: rgba(77, 77, 77, 0.65) !important;
    -webkit-transition: background 1s ease!important;
    -moz-transition: background 1s ease!important;
    -o-transition: background 1s ease!important;
    transition: background 1s ease!important;
    border-radius:30px!important;
    margin:0px 3px!important;
    box-shadow:inset 0px 0px 1px #070707 !important;
    text-align:center!important;
    text-shadow:0px 0px 1px #000000 !important;
    color: #282828;
}


.featured-in {
    background-color:#ffffff;

    padding:10px 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0.5, 0, 0);
    box-shadow: 0 3px 9px rgba(0, 0.5, 0, 0);
}
.featured-in img {
    padding:3px 18px;
}


.footers{
    background:#282828;
    color:#fff;
}
footer a{
    color:#fff;
}
footer  a:hover{
    text-decoration: none!important;
    color:#8ecc08!important;
}
.related-projects{
    padding-top:20px;
    margin-top:20px;

}

.candidate_containt{
    background: #ffffff;

}


/**PROFILE PAGE**/

.profile-thumb .list-item {
    list-style:none;
    margin:0;
}

.profile-thumb img { width:96% !important;}

.profile-thumb .list-item li a{ color:#666; padding:5px 10px 5px 0; display:block; border-bottom:#ddd 1px solid;}
.profile-thumb .list-item li a:hover{ text-decoration:none; color:#09C;}
.information-container{ padding:10px 20px 20px 20px; }

.profile-info ul {
    list-style:none;
    padding:0px;
    margin:0px;
}
.profile-title {
    margin-top:0px;
    margin-bottom:0px;
}
.profile-intro li label {
    display:inline-block;
    font-weight:bold;
    width:10em;
    color:#666;
}
.profile-toolbar {
    margin-top:0px;
    margin-bottom:-40px;
    font-weight:normal ;
}
.profile-info h4 {
    font-weight:normal;
    border-bottom:#eee 1px solid;
    padding-bottom:5px;
}

.profile-info .media-heading{ font-weight:bold;}

.control-label{
    color: rgba(7, 7, 7, 0.58) !important;
    font-size: 13px!important;
    font-weight: normal!important;
}
.candidate-info {
    padding:10px;
    border-bottom:#da3610 5px solid;
}
.candidate-thumb {
    width:50px;
    height:50px;
    background:#f9f9f9;
    float:left;
    white-space:normal;
    display:inline-block;
    line-height:50px;
    text-align:center;
    font-size:36px;
    border:#ccc 2px solid;
    color:#999;
}
.candidate-thumb a {
    color:#333 !important;
    border:#999 1px solid;
    display:block;
}
.candidate-meta {
    display:inline-block;
    float:left;
}
.candidate-meta ul {
    margin:0px 10px 0px 10px;
}
.candidate-meta ul li {
    list-style:none;
    line-height:normal;
    margin-bottom:3px;
}
.candidate-meta ul li a {
    text-decoration:none;
    padding-right:5px;
    color:#666;
}
.candidate-meta ul li a:hover {
    color:#069;
}
.candidate-meta ul li a i {
    font-size:14px;
    text-decoration:none;
}
.candidate-username {
    font-weight:bold;
}
.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-y: scroll;
}

.contact-right{
    border:none!important;
}
.contact-left{
    border:none!important;
}
.table .candidate_table th{
    border:none!important;
}
.job_details {
    line-height: normal;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: -54px;
    margin-top: -27px;
    padding-bottom: 44px;
}
.job_details li {
    list-style:none;
    line-height:normal;
    margin-bottom:3px;
    float: left;
    padding-left:15px;
}

.candidate-popover {
    position: absolute;

    left: 0;
    z-index: 12!important;
    display: none;

    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: -2px !important;
    border-top-left-radius: 0;
    border-top-right-radius:0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-clip: padding-box;
}
.candidate-popover-big {
    position: absolute;

    left: 0;
    z-index: 12!important;
    display: none;

    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: -10px !important;
    border-top-left-radius: 0;
    border-top-right-radius:0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-clip: padding-box;
}
.edit-arrow{

    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid #ffffff;
}
 .edit-arrow2{

     border: 1px solid #cccccc;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-top: none;
     border-right: 1px solid #ffffff;
     border-left: 1px solid #ffffff;
     border-bottom: 1px solid #ffffff;
     height: 37px;
     left: -1px;
     padding-left: 3px;
     position: absolute;
     top: 0;
     width: 11px;
     background: #ffffff;
 }
 .popups{
     text-decoration: none!important;
 }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999!important;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.full-popover-name{

    top: -4.3167px !important;
    border-top-left-radius: 2px!important;
    border-top-right-radius: 2px!important;
}

.full-popover-address{
    border-top-left-radius: 2px!important;
    border-top-right-radius: 2px!important;

    top: 33.683px !important;
}
.full-popover-email{
    border-top-left-radius: 2px!important;
    border-top-right-radius: 2px!important;

}

.full-popover-name, .popover.right {
    margin-left: 2px!important;
}
 .popover.right .arrow {
    border-left-width: 0;

   /* border-right-color: rgba(0, 0, 0, 0.25);*/
    left: -11px;
    top: 8.6726%!important;
}

.caption-btm{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 4px;
    color: #fff;
}
#hover-img .thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
}
.btn-upload-resume,.uploadify  {
    width: 100%!important;
    height: 60px!important;
    padding: 0!important;
    margin:0!important;
    text-align: center!important;
    font-size:18px!important;
    line-height: 52px!important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    width: 100%;


}
#hover-img .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: #fff !important;
}

#hover-img .caption p {
    padding: 6px;
}

#hover-img .caption-btm {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    height: 40px;
    position: absolute;
    bottom: 4px;
    color: #fff;
    display: table;
    width: 100%;
}

#hover-img .caption-btm p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.panel-default > .panel-heading {
    background:#666!important;
    color:#fff!important;

    border-color: #dddddd;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */

.side_padding{
    margin-top: -41px !important;
}
#job_contain{
    padding-top: 100px;
}
#job2contain{
    padding-top: 20px;
}
.navbar-collapse {
    max-height: 100%;
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        float: left;
        font-size: 18px;
        line-height: 20px;
        padding: 10px!important;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -88%;

        margin-right: 0!important;
        background-color: #555555;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-right.active {
        right: 88%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }
    .sidebar-offcanvas {
        background: none repeat scroll 0 0 #333333!important;
        position: absolute!important;
        top: 30px;
        width: 88%!important;
        height: 96% !important;
        display: none;
        padding:0!important;

    }

    #job_contain{
        padding-top:0!important;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px!important;
        color: #fff !important;
        left: 10px !important;
        padding-right: 5px !important;
    }

    .navbar-nav > li > a:hover{
        text-decoration: none;
        padding-bottom: 0!important;
        border-radius:0;
        border:none!important;
        color: #fff !important;
        background-color: transparent !important;
    }

    .navbar-nav .active > a,
    .navbar-nav .active > a:hover,
    .navbar-nav .active > a:focus {
        text-decoration: none;
        padding-bottom: 0!important;
        border:none!important;
        color: #fff !important;
        background-color: transparent !important;

    }
    #SWFUpload_0{
        width:100%!important;
    }
}


.wraper {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wraper.active {
    left: 17em;
}
.wraper2 {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wraper2.active {
   right: 29em;
}

a.side-menu-link {
    float: left;
    display: block;
    padding: 1em;
}


@media screen and (max-width: 48.063em) {
    .js .oc {
        width: auto;
        position: absolute;
        top: 93px;
        left: -17em;
    }
    .js2 .oc2 {
        margin-left: -18em;
        position: absolute;

        top: 0;
        width: auto;
    }
    .side_cat_b > li > ul {
        left:20px!important;
        position: relative;
        top:-15px!important;
        color:#fff!important;

    }
}

@media screen and (min-width: 48.25em) {
    a.side-menu-link {
        display: none;
    }
    .wraper.active {
        left: 0;
    }
    .wraper2.active {
        right: 0;
    }
}


@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .main_containt {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

@media (max-width: 444px) {

    .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 200px !important;
    }
    .recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell {
        background: none !important;
    }

}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(183, 255, 8, 0.11) !important;
}

#iframe_applicants {
    zoom: 0.15;


}
.iframe_body{
    padding:0!important;
}

.noMarginPadding{
	padding:0!important;margin:0!important;border:0!important;
}
.green{
	color: #8ecc08!important;
}
.yelow{
	color: #f3c62b!important;
}
.bggreen{
	background-color: #8ecc08!important;
}
.bgyelow{
	background-color: #f3c62b!important;
}
.colorWhiteTitle{
	color: #fff!important;
	font-size: 18px;
}
.lightBack{
	background-color:#fcfcfc!important;
}
.blue{
	color: #5c84f5!important;
}

.min-height{
    min-height: 850px;
}

ul.wysihtml5-toolbar {
    margin: 0;
    padding: 0;
    display: block;
}

ul.wysihtml5-toolbar::after {
    clear: both;
    display: table;
    content: "";
}

ul.wysihtml5-toolbar > li {
    float: left;
    display: list-item;
    list-style: none;
    margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
    font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
    font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
    text-decoration: underline;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #E6E6E6;
    background-color: #D9D9D9;
    outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
    display: none !important;
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
  display:block;
  width: 50px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  pointer-events: none;
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
  padding-left: 70px;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
  background: black !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
  background: silver !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
  background: red !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
  background: green !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
  background: orange !important;
}
