<table align="center" cellspacing="0" border="0" cellpadding="0" width="700" bgcolor="#FFFFFF" style="width:700px;background-color:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd">
        <tbody>
        <tr>
        <td style="padding:3px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;background-color:#000;color:#fff;">
        <a href="http://localhost/patsada.com/" target="_blank" style="text-decoration:none;">
        <img src="http://localhost/patsada.com/assets/img/patsada_logo.PNG" style="height:30px;width:150px;padding-top:3px;margin-left:20px;" alt="PATSADA.com"><br>
        <span style="color:#fff;margin-left: 21px;font-size:12px;">Jobs, Right at Your Finger Tips</span>
        </a>

        </td>
        </tr>
        <tr>
            <td style="padding-top:34px;padding-left:39px;padding-right:39px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd">
                <h2 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:30px;color:#262626;font-weight:normal;margin-top:0;margin-bottom:13px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;letter-spacing:0">
                </h2>

            
                <h3 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px">                 
                    Dear Thesis Test,
                    <br><br>
                    Congratulations! Your job post has successfully been posted on the site.
                    <br>
                    The Job number is <b>12</b> with the following data:
                     <br><br>

                     Post Type: Urgent</br>Job Type: Part-Time</br>Position: Back-end Developer</br>Description: Must have knowledge in PHP and Python programming language</br>Years of Experience: </br>Category: 22</br>Location: Manila</br>Salary Type: N</br>Salary From: 20000.00</br>Salary To: 25000.00</br>

                    <br><br>
                    The job number will be used as reference for your future transactions (e.g. getting applicants, editing job post, and deleting job post using the E-Mail Feature) 
                    with the job post therefore it must be noted at all times. Thank you.
                    <br><br>
                    
                </h3>

                    <br>
        <tr>
            <td style="color:#797c80;font-size:12px;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;padding-top:23px;padding-left:39px;padding-right:13px;padding-bottom:23px;text-align:left">
                <h3 style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;font-size:16px;color:#3e434a;font-weight:normal;margin-top:0;margin-bottom:19px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;line-height:25px">
                About PATSADA.com
                </h3>
                <p style="font-family:Helvetica Neue,Arial,Helvetica,sans-serif;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:13px;padding-right:0;padding-left:0;line-height:20px">
                The word PaTsada is a local word from Cagayan de Oro City.<br>
                        Hence <b>PaTsada.com</b> is an online Job Search Site for kagay-anons. <br>
                        We keep it simple and easy to used and provide a best expirience in Job Hunting and Recruiting.<br>
                        <b>PATSADA.com</b>... Jobs, Right at Your Fingertips

                </p>

            </td>
        </tr>


        <tr>
    </tr>
    <tr>
        <td style="padding:3px;text-align:left;border-left-width:1px;border-left-style:solid;border-left-color:#ddd;border-right-width:1px;border-right-style:solid;border-right-color:#ddd;background-color:#000;color:#fff;text-align: right;font-size: 10px;">
            &copy; Copyright 2013. PATSADA.com. All rights reserved. NHA, Kauswagan, Cagayan de Oro City, Philippines, 9000 Tel. (088) 323-4359
        </td>
        </tr>
    </tbody>
    </table>