body{
	margin:0;
	
	
}

.containerSearch{
	padding:15px;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size: 10pt;
}
.supplieInfoHeader{
	font-weight: bold;
}
.suppInfoDiv {
	background-color: #fff;
}
.suppInfoDiv table{
	width: 100%;
}
.viewProductDetails{
	padding: 10px;
}
.photoDetails{
	/* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* This adds the border */
	padding:5px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 1px 1px 1px;
	background-color:white;
	float: left;
	width: 200px;
	height: 150px;
}
.photoDetails2{
	/* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* This adds the border */
	padding:5px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 1px 1px 1px;
	background-color:white;
	float: left;
	width: 100px;
	height: 50px;
	
}
.photoDetailsPopular{
	/* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* This adds the border */
	padding:5px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 1px 1px 1px;
	background-color:white;
	float: left;
	width: 175px;
	height: 150px;
	
	
}
.photoDetailsPopular:hover{

	background-color:#999;
	
	
}
.popularLink{
	font-family:tahoma,arial,helvetica,sans-serif;
	color:#027fba;
	font-size: 11pt;
	
}
.popularLink:hover{
	color:#8B0000;
	
	
}
.containerIcon{
position: fixed;
  top:75px;
  right: 25px;
width: 115px;
}
.shortCut{
	height: 100px;
	cursor: pointer;
	position:relative;
	float: left;
	
	padding: 5px;
	margin: 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
border-radius: 10px;
}
.shortCut:hover{
-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.containerPopular{
	padding:20px;
}
.popularTitle{
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-size: 20pt;
	color:#027fba;
}
.titlePop2{
	font-style: italic;
	color:#999;
}	
.imageCont{
	width: 187px;
	float: left;
	margin-right: 10px;
	margin-top:10px;
}
.photoDetails3{
	/* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* This adds the border */
	padding:2px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 1px 1px 1px;
	background-color:white;
	float: left;
	width: 70px;
	height: 50px;
}
.info1{
	float: left;
	border
}
.info1 h2{
	font-size: 25px;
	color: #007ACC;
	width: 537px;
}
.info{
	float: left;
}
.detailsProduct{
	color: #007ACC;
}
.info1 h3{
	font-size: 25px;
	color: #007ACC;
	width: 537px;
}
.info2{
	width: 100%;
	float: left;
	
}
.info2 h3{
	font-size: 18px;
	color:#006BB2;
	margin-top: 10px;
}
.info2 p{
	font-size: 12px;
	text-indent: 30px;
	margin-top: 20px;
	text-align: justify;
}
.info1 p{
	font-size: 12px;
	margin-top: 15px;
}

.info4 h3{
	font-size: 18px;
	color:#006BB2;
	margin-top: 25px;
}
.info4 p{
	font-size: 12px;
	margin-top: 20px;
	text-align: justify;
}
.subHeader{
	font-weight: bold;
}

.search-item {
font: normal 11px tahoma, arial, helvetica, sans-serif;
padding: 3px 10px 3px 10px;
border: 1px solid #fff;
border-bottom: 1px solid #eeeeee;
white-space: normal;
color: #555;
font-size:11px;
}

.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
	font-size:14px;
	float:left;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}

.search-item td{
    font-size: 12px;
}
.titleP{
	padding:5px 10px;
	border:3px solid #f0f0f6;
	background-color: #E6E6E6;
	font-weight: bold;
	color: #777777;
	
}
.titleP:hover{
	
	background-color: #acf;
	color:#fff;
	cursor: pointer;


}
#map-canvas{
	width: 100%;
	height: 400px;
}
.star_rating{
	background-image:url('../images/icons/star.png'); width: 15px; text-align: center; font-weight: bold; color: #000;
	float: right;
	margin-left: 5px;
	font-size:9px;
	height:15px;
	padding-top: 2px;
}
.address{
	float: left; 
	width: 100%;
	font-size: 12px;
}
.productHeader{
	background-color: #CCD8E7;
    color: #15428B;
    font-size: 11px;
}
.productHeader tr th{
	font-size: 10px;
    font-weight: bold;
	padding: 2px;
	border-bottom: 1px solid #99BBE8;
}
.productBody{
	background-color: #EFEFEF;
    color: #000;
	border-bottom: 1px solid #DDDDDD;
    
}
.productBody td{
	padding: 2px;
    font-size: 10px;
}
.price{
	font-weight: bold;
	font-size: 11px;
}
.price2{
	font-weight: bold;
	color: red;
	font-size: 10pt;
}
.book_now{
	background-color: #76ADE5;
	border: 1px solid #2176C7;
	font-size: 11px;
	color: #fff;
}
.searchResultInfo1{
	font-weight: bold;
	font-size:14px;
}
.searchResultInfo1:hover{
	color:red;
	cursor: pointer;
}
a {
 text-decoration: none;
 outline: none;
}
div#page {
    margin: 60px auto;
    border: 1px solid #dedede;
    width: 910px;
}
.TogWrap {
    width: 400px;
    padding: 22px;
}
.togTrigger {
    border: 1px solid #bebebe;
    padding: 7px 8px;
    background: #df7623;
    color: #fff;
}
.togContent  {
    margin-top: 9px;
    border: 1px solid #bebebe;
    padding: 5px;
    background: #ededed;
	display: none;
	position:absolute;
	z-index: 1px;
}
.tablesorter{
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	border: 1px solid #f0f0f6;
	text-align: left;
	border-collapse:collapse;
	float:left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #acf;
	border-bottom: 1px solid #cef; 
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter tbody tr td {
	padding: 4px;
	vertical-align: top;
	border-bottom: 1px solid #f0f0f6;
    border-top:  1px solid #f0f0f6; 
   
}
table.tablesorter tbody tr td:hover {
	padding: 4px;
	vertical-align: top;
	border-bottom: 1px solid #f0f0f6;
    border-top:  1px solid #f0f0f6; 
   
}

table.tablesorter tbody tr {
	background-color: #FFFFFF;
    
   
}
table.tablesorter tbody tr:hover {
	background-color: #E6E6E6;
    
   
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.tablesorter2{
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	border: 1px solid #f0f0f6;
	text-align: left;
	border-collapse:collapse;
}

table.tablesorter2 thead tr th, table.tablesorter2 tfoot tr th {
	background-color: #acf;
	border-bottom: 1px solid #cef; 
	font-size: 10pt;
	padding: 4px;
}
table.tablesorter2 tbody tr td {
	padding: 4px;
	vertical-align: top;
	border-bottom: 1px solid #f0f0f6;
    border-top:  1px solid #f0f0f6; 
	
   
}

table.tablesorter2 tbody tr {
	background-color: #FFFFFF;
    
   
}

table.tablesorter2 thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.pager{
	margin: 10px 0px 10px 0px;
	
}

.searchButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 17px;
	text-decoration:none;
}.searchButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
}.searchButton:active {
	position:relative;
	top:1px;
}

.itemsIcon {
-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
padding:3px; 
border: 2px solid #acf;
background-color:#fff;
}
.itemsIcon:hover{

	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.searchButton2 {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:7pt;
	font-weight:bold;
	padding:5px 17px;
	text-decoration:none;
}.searchButton2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}.searchButton2:active {
	position:relative;
	top:1px;
}
.app-header .x-panel-body {
    background-color: #ddd;
    padding-left: 5px;
}

.app-header h1 {
    font-family: verdana,arial,sans-serif;
    font-size: 20px;
    color: #15428B;
}

.guest-target {
    border: 1px solid #acf;
    width: 400ps;
    height: 100%;
    margin: 5px;
    padding: 5px;
}
.contGuest{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	padding:1px 5px;
	text-decoration:none;
	margin-bottom:2px;
}
.buttonGuestDel{
margin-left:5px; 
margin-bottom:-3px;
cursor: pointer;
}
.buttonGuestDel:hover{
cursor: pointer;
}
.guest-target {
  
}

.guest-target.guest-target-hover {
    background-color: #C0C0C0;
}
.containerSourse{
overflow:scroll;
height: 100%;
}
.guest-source {
    cursor: pointer;
	border: 1px solid #C0C0C0;
	
	
}

.guest-view td {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
}

td.guest-label {
    background-color: #ddd;
    border: 1px solid #bbb;
    font-weight: bold;
    text-align: right;
    width: 100px;
    padding: 0px 3px 0px 0px;
}

.guest-over {
    background-color:#EFEFEF;
    cursor: pointer;
}
.guest-selected {
    background-color: #DFE8F6;
    cursor: pointer;
}

.docsImage{
	height: 150px;
}
.containerDocsMenus {
font-family:tahoma,arial,helvetica,sans-serif;
	font-size: 10pt;
	padding: 10px;

}

.containerDocs {
font-family:tahoma,arial,helvetica,sans-serif;
	font-size: 10pt;
-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
padding:3px; 
border: 2px solid #acf;
background-color:#fff;
float: left; 
margin: 10px;
width: 155px;
-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.docsUrl{
	color: red;
	cursor: pointer;
}
.docsUrl:hover{
	color: #800000;
}
.upload-icon {
            background: url('../images/icons/image_add.png') no-repeat 0 0 !important;
}

/*!
 * Ext JS Library 3.4.0
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}