.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin:  0;
   font-family: verdana,arial,sans-serif;
   
 }
.row1 {
	width: 100%;
margin:0;
padding:0;
	background-color: #428bca;
	height: 55px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position: relative;
   overflow: auto;

}

.row2 {
	width: 100%;
	border: 1px solid #428bca;

	-moz-border-radius:4;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin-top: 20px;
	position: relative;
   overflow: auto;
   padding-bottom: 10px;
  
}
.bodyrow{
	width: 100%;
	border: 1px solid #428bca;

	-moz-border-radius:4;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin-top: 20px;
	position: relative;
   overflow: auto;

  
}
.logo{
	height: 50px;
width: 400px;
float:left !important;

}
.panel-heading {
	
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #428bca;
  text-align: left;
 height: 20px;
  font-size: 15px;
  padding-left: 10px;
	color: #fff;
	overflow: auto;
	margin-bottom: 10px;
}

.panel-title{
float: right;
font-size: 40px;
color: #fff;
font-weight:bold;
 margin-right: 10px !important;

float: right !important;

}

.panel-title2{
float: right;
font-size: 30px;
color: #fff;
font-weight:bold;
 margin-right: 10px !important;

float: right !important;

}

.left{
	float:left;
}

.right{
	float:right;
}
.info1{
	border: 1px solid #428bca;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	width: 60%;
	margin-left: 10px;
	float: left;
}
.info2{
	border: 1px solid #428bca;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	width: 35%;
	float: right;
	margin-right: 10px;
}
.table-primary{
width: 100%;

border:0;
border-collapse:collapse;
font-family: verdana,arial,sans-serif;
font-weight: normal;
}
.tableSmall{
	width: 100%;
	border: 1px solid #428bca;
	-moz-border-radius:4;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:11px;
	border-collapse:collapse;
	margin: 10px;

}
.tableSmall td {
	padding: 5px;
	vertical-align:top;
	text-align: left;
}
.tableSmall th {
	vertical-align:top;
	text-align: left;
	padding: 0px 5px;
}
.table-primary-head{
   background-color: #428bca;
 overflow: auto;
  font-size: 12px;
 color: #fff;
border: 1px solid #428bca;
		-moz-border-radius:4;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.table-primary-footer{
   background-color: #428bca;
  
	
 
}
.table-primary  tbody tr td{
	border-bottom: 1px solid #428bca;

}
.table-primary-footer td{
	color: #fff;
}
.table-primary-head th{
	font-family: verdana,arial,sans-serif;
	color: #fff;
	 text-align: left;
	 font-weight: normal;

}
.data{
font-size: 12px;
font-weight: normal;
}
.dataC{
font-size: 12px;
vertical-align:text-top;
}
.tableInfo1{
	font-size: 12px;
	vertical-align:text-top;
	
	
}
.subhead{
	font-size: 12px;
	font-weight: bold;
}